<!DOCTYPE html>
<html>
	<head>
		<title>
			Percolation
		</title>
		<link rel= "stylesheet" type="text/css" href="/stylesheets/perc-navbar.css">
		<!-- the / indicates that we should look for app.css in the root folder meaning outside of partials... so in public (layer outwards) -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		<!-- We are including semantic-ui library which is like another bootstrap and our own css -->

	</head>
	<body>	
		<!-- If you go to semantic ui navbars ~ menus, this is what they'll tell you to do to create it -->
		<div class="ui fixed inverted menu">
			<div class="ui container perc-navbar">
				<div class="header item"><i class="code icon"></i>Percolation App</div>
				<a href="/" class="item">Home</a>
				<a href="/AboutPercolation" class="item">About Percolation</a>
				<a href="/play" class="item">Play</a>
			</div>
		</div>
		
		