<%- include("partials/header") %>
<link href="/stylesheets/about.css" rel="stylesheet" type="text/css">

<div class="bg">
    <div class="content-container">
        <div id="headerTitle">
            <div class="ui center aligned container">
                <hr>
                <h1 class="headers">
                    What is Percolation?
                </h1>
            </div>
        </div>
        <div class="ui segment secondary-container">
            <div class="ui two column very relaxed grid">
              <div class="column">
                <h4 class="headers">Percolation</h4>
                <p> 
                    Given a composite system comprised of randomly distributed insulating and metallic materials: 
                    what fraction of the materials need to be metallic so that the composite system is an electrical conductor? 
                </p>
                <p> 
                    Given a porous landscape with water on the surface (or oil below), under what conditions will the water be able to drain through to the bottom (or the oil to gush through to the surface)? 
                </p>
                <p>
                    Scientists have defined an abstract process known as <strong>percolation</strong> to model such situations.
                </p>
                <h4 class="headers">The Model</h4>
                <p>
                    We model a percolation system using an n-by-n grid of sites. 
                    Each site is either open or blocked. 
                </p>
                <p>
                    A full site is an open site that can be connected to an open site in the top row via a chain of neighboring (left, right, up, down) open sites. 
                </p>
                <p>
                    We say the system percolates if there is a full site in the bottom row. In other words, a system percolates if we fill all open sites connected to the top row and that process fills some open site on the bottom row.
                </p>
        
                <div class="ui medium images center aligned">
                    <img class="ui large rounded image spaced" src="/assets/about-percolation/percolates-yes.png">
                    <img class="ui large rounded image spaced" src="/assets/about-percolation/percolates-no.png">
                </div>
              </div>
              <div class="column">
                    <div class="simulation-content-container">
                        <h4 class="headers">Simulation</h4>
                        <p class="simulation-body">Click the <strong>Start Simulation</strong> button to observe the effects of randomly opening blocked sites on the nxn grid below</p>

                        <div class="button-container">
                            <button class="simulate ui secondary button">Start Simulation</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical divider">
              and
            </div>
          </div>
    </div>
    
</div>

<script>

    // get the reference for the body
    var divy = document.getElementsByClassName("simulation-content-container")[0];

    // creates a <table> element and a <tbody> element
    var tbl = document.createElement("table");
    tbl.setAttribute("class", "MyTable");
    var tblBody = document.createElement("tbody");

    // creating all cells
    for (var i = 0; i < 8; i++) {
    // creates a table row
    var row = document.createElement("tr");
    // row.setAttribute("class", "closedsite");

    for (var j = 0; j < 8; j++) {
        // Create a <td> element and a text node, make the text
        // node the contents of the <td>, and put the <td> at
        // the end of the table row
        var cell = document.createElement("td");
        cell.setAttribute("class", "closedsite");

        cell.style.width="50px";
        cell.style.height="50px"
        row.appendChild(cell);
    }

    // add the row to the end of the table body
    tblBody.appendChild(row);
    }

    // put the <tbody> in the <table>
    tbl.appendChild(tblBody);
    // appends <table> into <body>
    divy.appendChild(tbl);
    // sets the border attribute of tbl to 2;
    tbl.setAttribute("border", "2");
    </script>

<script type="text/javascript" src="/models/WeightedQuickUnionUF.js"></script>
<script type="text/javascript" src="/models/Percolation.js"></script>
<script type="text/javascript" src="/models/PercolationStats.js"></script>
<%- include("partials/footer") %>	  