<%- include("partials/header") %>
<link href="/stylesheets/home.css" rel="stylesheet" type="text/css">
<div class="bg">
	<div class="home-container">
		<hr>
		<div class="welcome-section-title">Welcome to Percolation</div>
		<hr>
		<div class="welcome-section-body">Percolation is an interactive NodeJS web-application designed to explain the scientific concept of percolation</div>
		<a href="/AboutPercolation">
			<div class="continue-btn-container">
				<div class="btn-text">Continue</div>
			</div>
		</a>
	</div>
</div>

<script type="text/javascript" src="/models/home.js"></script>
<%- include("partials/footer") %>	  