<%- include("partials/header") %>
<link href="/stylesheets/play.css" rel="stylesheet" type="text/css">
<div id="headerTitle">
    <div class="ui center aligned container">
        <h1 class="headers">
            What is Percolation?
        </h1>
        <h2 class="headers">A model that describes a natural phenomenon</h2>
        <div>
            <input type='file' />
            <br><img id="myImg" src="#" alt="your image" height=200 width=100>
            <div class="simulation-content-container">
                <canvas id="mainCanvas"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="ui center aligned container">
    <span>
        <button class="ui secondary button">
            Create Your Own
        </button>
    
        <button class="ui secondary button">
            Auto Generate
        </button>
    </span>

    <div>
        <button class="ui red button">Start Simulation</button>
        <button class="ui red orange">Advanced Stats</button>
    </div>
</div>
<script>
    var canvas=document.getElementById('mainCanvas');
    var ctx= canvas.getContext('2d');
    window.addEventListener('load', function() {
    document.querySelector('input[type="file"]').addEventListener('change', function() {
        if (this.files && this.files[0]) {
            var img = new Image();
            img.src = URL.createObjectURL(this.files[0]); // set src to blob url
            img.onload= drawImageScaled.bind(null, img, ctx);

        }
    });
    });
  
    //look here to better scaled image to fit canvas
    function drawImageScaled(img, ctx) {
        var canvas = ctx.canvas ;
        var hRatio = canvas.width  / img.width    ;
        var vRatio =  canvas.height / img.height  ;
        var ratio  = Math.min ( hRatio, vRatio );
        var centerShift_x = ( canvas.width - img.width*ratio ) / 2;
        var centerShift_y = ( canvas.height - img.height*ratio ) / 2;  
        ctx.clearRect(0,0,canvas.width, canvas.height);
        ctx.drawImage(img, 0,0, canvas.width, canvas.height);
                            // img.width, img.height, centerShift_x,centerShift_y,img.width*ratio, img.height*ratio);  
        var imgPixels = ctx.getImageData(0, 0, canvas.width, canvas.height);
        for(var y = 0; y < imgPixels.height; y++){
            for(var x = 0; x < imgPixels.width; x++){
                var i = (y * 4) * imgPixels.width + x * 4;
                var avg = (imgPixels.data[i] + imgPixels.data[i + 1] + imgPixels.data[i + 2]) / 3;
                imgPixels.data[i] = avg;
                imgPixels.data[i + 1] = avg;
                imgPixels.data[i + 2] = avg;
            }   
        }
        ctx.putImageData(imgPixels, 0, 0, 0, 0, imgPixels.width, imgPixels.height);

        // var testy= ctx.getImageData(0, 0, canvas.width, canvas.height);
        // console.log(testy);
        console.log(imgPixels);
        // console.log(ctx);

            // get the reference for the body
        var divy = document.getElementsByClassName("simulation-content-container")[0];

        // creates a <table> element and a <tbody> element
        var tbl = document.createElement("table");
        tbl.setAttribute("class", "MyTable");
        var tblBody = document.createElement("tbody");

        var rgbToHex = function (rgb) { 
            var hex = Number(rgb).toString(16);
            if (hex.length < 2) {
                hex = "0" + hex;
            }
            return hex;
        };
        var fullColorHex = function(r,g,b) {   
            var red = rgbToHex(r);
            var green = rgbToHex(g);
            var blue = rgbToHex(b);
            return red+green+blue;
        };

        // creating all cells ~ height, width or vice versa?
        for (var y = 0; y < imgPixels.height; y++) { //imgPixels.height
            // creates a table row
            var row = document.createElement("tr");
            // row.setAttribute("class", "closedsite");

            for (var x = 0; x < imgPixels.width; x++) { //imgPixels.width
                // Create a <td> element and a text node, make the text
                // node the contents of the <td>, and put the <td> at
                // the end of the table row
                var i = (y * 4) * imgPixels.width + x * 4;
                var cell = document.createElement("td");
                if (imgPixels.data[i]>127){
                    cell.style.backgroundColor= "white";
                    cell.style.color= "white";

                } else{
                    cell.style.backgroundColor="black";
                    cell.style.color= "black";
                }
                // var color = "#" + fullColorHex(imgPixels.data[i], imgPixels.data[i], imgPixels.data[i]);
                // cell.style.backgroundColor=color;
                // cell.style.color= color;

                cell.style.width="1px";
                cell.style.height="1px"
                row.appendChild(cell);
            }

            // add the row to the end of the table body
            tblBody.appendChild(row);
        }

            // put the <tbody> in the <table>
            tbl.appendChild(tblBody);
            // appends <table> into <body>
            divy.appendChild(tbl);
            // sets the border attribute of tbl to 2;
            // tbl.setAttribute("border", "2");
            tbl.setAttribute("border", "0");
            tbl.setAttribute("border-spacing", "0");
            tbl.setAttribute("border-collapse", "collapse");
            console.log(tbl.rows.length);
            console.log(tbl.rows[0].cells.length);
    };  


</script>



<!-- <script>

    // get the reference for the body
    var divy = document.getElementsByClassName("simulation-content-container")[0];

    // creates a <table> element and a <tbody> element
    var tbl = document.createElement("table");
    tbl.setAttribute("class", "MyTable");
    var tblBody = document.createElement("tbody");

    // creating all cells
    for (var i = 0; i < 10; i++) {
    // creates a table row
    var row = document.createElement("tr");
    // row.setAttribute("class", "closedsite");

    for (var j = 0; j < 10; j++) {
        // Create a <td> element and a text node, make the text
        // node the contents of the <td>, and put the <td> at
        // the end of the table row
        var cell = document.createElement("td");
        cell.setAttribute("class", "closedsite");

        cell.style.width="50px";
        cell.style.height="50px"
        row.appendChild(cell);
    }

    // add the row to the end of the table body
    tblBody.appendChild(row);
    }

    // put the <tbody> in the <table>
    tbl.appendChild(tblBody);
    // appends <table> into <body>
    divy.appendChild(tbl);
    // sets the border attribute of tbl to 2;
    tbl.setAttribute("border", "2");
    </script> -->

<!-- 
<script type="text/javascript" src="/models/WeightedQuickUnionUF.js"></script>
<script type="text/javascript" src="/models/Percolation.js"></script>
<script type="text/javascript" src="/models/PercolationStats.js"></script> -->
<%- include("partials/footer") %>	  