body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg {
    /* The image used */
    background-image: url("/assets/home/blue-floral-background.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
  }

.home-container {
    color: white;
    background:rgba(0, 0, 0, 0.3);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    padding: 5.5% 4%;
}

.welcome-section-title {
    font-family: 'petit formal script';
    font-size: 75px;
    text-align: center;
    line-height: normal;
    font-weight: bold;
}

.welcome-section-body {
    font-family: 'trebuchet';
    font-size: 20px;
    line-height: normal;
    margin-top: 150px;
    text-align: center;
}

.continue-btn-container {
    display: flex;
    margin-top: 150px;
    background: rgba(83, 80, 116, 0.404);
    height: 50px;
    width: 150px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.btn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: trebuchet;
    color: white;
}

.continue-btn-container:hover {
    background: rgba(83, 80, 116, 0.746);
}