body {
    height: 100%;
    margin: 0;
    overflow: scroll;

}

table{
    border: 1px solid black;
    background-color: black;

  }

.opensite{
    background-color: white;
    color:"white";
} 
.closedsite{
    background-color: black;
    color:black;
} 
.fullsite{
    background-color: lightblue;
    color:lightblue;
} 



.bg {
    /* The image used */
    background-image: url("/assets/about-percolation/bush.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    position:relative;
  }

.content-container {
    color: black;
    background:rgba(255, 255, 255, 0.5);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    padding: 0.5% 4%;
}

hr {
    height: 2px;
    background: rgb(5, 159, 242);
    border: none;
}

h2, h3, h4, h5 {
    font-family: 'trebuchet';
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
}

h1 {
    font-family: 'petit formal script';
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.headers{
	/* border:5px solid rgb(112, 14, 14); */
	color:rgb(5, 159, 242);
}
#headerTitle{
	margin-top: 50px;
}
i{
	font-size: 2.0em;
}

.simulation-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.canvas {
    /* padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	display: block; */
	background-color: #3e3e3e;
	width:300px;
	height: 500px;
}

#mainCanvas{
	background-color: #3e3e3e;
	width:300px;
	height: 500px;
}

.button-container {
    margin: 20px 0;
}

.simulation-body {
    text-align: center;
}

.secondary-container {
    margin-top: 30px !important;
}